body {
    background-image: linear-gradient(to bottom, rgb(0, 51, 109), rgb(72, 155, 250))
}

html {
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}